<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="q8_ehealth.backpain.com.backpain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rm_social"></activity>
        <activity android:name=".theHospital" />
        <activity android:name=".medicalsimportant" />
        <activity android:name=".addApointment" />
        <activity android:name=".listdoctorAppointment" />
        <activity android:name=".result_esbyan" />
        <activity android:name=".qustion_estbyan" />
        <activity android:name=".startEstbyan" />
        <activity android:name=".detectionstart" />
        <activity android:name=".rm_what_i_knew" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".showView"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".papaer"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".showPdf"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".theActivitySlider"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".showSlider"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sochial"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".detection" />
        <activity android:name=".detectionResult" />
    </application>

</manifest>